<style>
	body{
		width: 100%;
	}
</style>
<a
	class="twitter-timeline"
	data-dnt="true" 
	href="https://twitter.com/Opaaw"
	data-widget-id="388510070952038400">
		Tweets by @Opaaw
</a>
<script>
	!function(d,s,id){
		var js,fjs=d.getElementsByTagName(s)[0],
			p=/^http:/.test(d.location)?'http':'https';
			if(!d.getElementById(id)){
				js=d.createElement(s);js.id=id;
				js.src=p+"://platform.twitter.com/widgets.js";
				fjs.parentNode.insertBefore(js,fjs);
			}
	}(document,"script","twitter-wjs");
</script>